# Secret environment variables
secrets.*
!secrets.*.example

# DNS environment variables
dns.*
!dns.*.example

# Jekyll
jekyll/web

# Python flask 
venv
instance/
__pycache__/
*.pyc
data-test.sqlite
.coverage
htmlcov
core/app/static/webassets-external
core/app/static/scripts
core/app/static/styles
core/app/static/.webassets-cache
data-dev.sqlite

# Postgres
postgres/web-init.sql

# VS Code project files
.vscode
