version: "3"
services:
  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - jekyll-data:/usr/share/nginx/html:ro
    depends_on:
      - web

  web:
    build: ./web
    container_name: web
    ports:
      - "8001:8001"
    env_file:
      - 'web/secrets.flask'
      - 'grafana/secrets.grafana'
      - 'grafana/env.grafana'
    networks:
      - backend
    command: bash -c "./start.sh"
    depends_on:
      - influxdb
      - grafana
      - postgres
      - redis
  
  postgres:
    build: ./postgres
    container_name: postgres
    ports:
      - "5431:5432"
    env_file:
      - 'postgres/secrets.postgres'
    networks:
      - backend
    volumes:
      - postgres-data:/var/lib/postgresql/data
  
  redis:
    image: redis:3.2
    container_name: redis
    networks:
      - backend
  
  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8086:8086"
    env_file:
      - 'influxdb/env.influxdb'
      - 'influxdb/secrets.influxdb'
    networks:
      - backend
    volumes:
      - influxdb-data:/var/lib/influxdb
  
  grafana:
    image: grafana/grafana:4.6.3
    container_name: grafana
    ports:
      - "3000:3000"
    env_file:
      - 'grafana/env.grafana'
      - 'grafana/secrets.grafana'
    networks:
      - backend
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - influxdb

networks:
  backend:

volumes:
  influxdb-data:
  grafana-data:
  postgres-data:
  jekyll-data:
