<!-- Footer -->
<footer id="footer">

    <ul class="icons">
<!--
        <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
-->
        <li><a href="https://github.com/FlowLeaf" class="icon circle fa-github"><span class="label">Github</span></a></li>
        <li><a href="https://twitter.com/SDG_PH" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/Smart-Digital-Garden-191680001493484" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/smartdigitalgarden" class="icon circle fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://protohaus.org" class="icon circle fa-home"><span class="label">Protohaus</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Moritz Ulmer</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>

</footer>
