<header id="header">
  <h1 id="logo"><a href="/">Flow Leaf</a><span> + </span><a href="https://sdg.protohaus.org">Smart Digital Garden</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="https://medium.com/flowleaf">Blog</a></li>
      <li><a href="/contact.html">Contact</a></li>
<!--
      <li class="submenu">
        <a href="">Layouts</a>
        <ul>
          <li><a href="/left-sidebar.html">Left Sidebar</a></li>
          <li><a href="/right-sidebar.html">Right Sidebar</a></li>
          <li><a href="/no-sidebar.html">No Sidebar</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li class="submenu">
            <a href="">Submenu</a>
            <ul>
              <li><a href="#">Dolore Sed</a></li>
              <li><a href="#">Consequat</a></li>
              <li><a href="#">Lorem Magna</a></li>
              <li><a href="#">Sed Magna</a></li>
              <li><a href="#">Ipsum Nisl</a></li>
            </ul>
          </li>
        </ul>
      </li>
-->
      <li><a href="https://data.flowleaf.co/dashboard/db/growtower?orgId=1" class="button special">Live Demo</a></li>
    </ul>
  </nav>
</header>
