<div class="navbar-container" [class.example-is-mobile]="isHandset$ | async">
  <mat-toolbar class="navbar-header" color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>FlowLeaf</span>
    <span class="navbar-header-spacer"></span>
    <button
      mat-raised-button
      (click)="login()"
      *ngIf="!(isAuthenticated | async)"
    >
      Log in
    </button>
    <button
      mat-raised-button
      *ngIf="isAuthenticated | async"
      href="#"
      (click)="logout()"
    >
      (log out)
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="">face</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"
    >
      <mat-toolbar>Planner</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="home">Home</a>
        <a mat-list-item routerLinkActive="active" routerLink="build">Build</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
      <div *ngIf="(isAuthenticated | async)">Authenticated</div>
      <div *ngIf="!(isAuthenticated | async)">Not Authenticated</div>
      <div class="authenticating-loader" *ngIf="!(isDoneLoading | async)">
        <div>Authenticating...</div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
