{% extends "base.html" %}
{% load semanticui %}

{% block title %}<title>SDG: Farms</title>{% endblock %}

{% block content %}
<div class="ui main text container">
  <h1 class="ui header">Farms</h1>
  {% if farms %}
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Coordinator</th>
      <th>Address</th>
    </tr>
    {% for farm in farms %}
    <tr>
      <td>{{ farm.name }}</td>
      <td>
      {% if farm.coordinator and farm.coordinator.dns_address %}
        <a href="http://{{ farm.coordinator.dns_address }}">Coordinator</a>
      {% else %}
        -
      {% endif %}
      </td>
      <td>{{ farm.address }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No farms found.</p>
  {% endif %}
</div>
{% endblock %}
