APP_NAME=flow-leaf-server

MAIL_USERNAME=postmaster@example.com
MAIL_PASSWORD=AnotherPassword

SECRET_KEY=ThisBeMyKey
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=TheAdminPassword

DATABASE_URI=postgres://web_user:ThatWebUsersPassword@postgres/web_db
REDISTOGO_URL=http://redis:6379

FLASK_CONFIG=production
