EMAIL_HOST_USER=postmaster@example.com
EMAIL_HOST_PASSWORD=EmailPassword
NOTIFICATION_EMAIL=hello@example.com

SECRET_KEY=ThisBeMyKey
GOOGLE_API_KEY=AIzaSyD--your-google-maps-key-SjQBE

DATABASE_USER=core_user
DATABASE_PASSWORD=CoreUsersPassword

DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=SomePassword

CORE_DOMAIN=localhost
CORE_DEV_SERVER_PORT=8000

AWS_ACCESS_KEY_ID=some-20-char-random
AWS_SECRET_ACCESS_KEY=some-40-char-something-long-secret-pass
AWS_STORAGE_BUCKET_NAME=core
