EMAIL_HOST_USER=postmaster@example.com
EMAIL_HOST_PASSWORD=EmailPassword

SECRET_KEY=ThisBeMyKey
GOOGLE_API_KEY=AIzaSyD--your-google-maps-key-SjQBE

DATABASE_USER=core_user
DATABASE_PASSWORD=CoreUsersPassword

DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=SomePassword

CORE_DOMAIN=core.example.com
FARMS_SUBDOMAIN_NAMESPACE=farms
