{% extends "base.html" %} {% load semanticui %} {% block title %}
<title>Controllers</title>
{% endblock %} {% block content %}
<h1 class="ui header">Controllers</h1>

{% if controllers %}
<table style="width: 100%">
  <tr style="text-align: left">
    <th>Name</th>
    <th>Type</th>
    <th>Site</th>
    <th>Peripherals</th>
    <th>Controller Auth Token</th>
    <th>Actions</th>
  </tr>
  {% for controller in controllers %}
  <tr>
    <td>{{ controller.site_entity.name }}</td>
    <td>{{ controller.component_type.name }}</td>
    <td>{{ controller.site_entity.site.name }}</td>
    <td>{{ controller.num_peripherals }}</td>
    <td>token_{{ controller.auth_token.key }}</td>
    <td>
      <form
        action="{% url 'iot:delete-controller' controller.pk %}"
        method="POST"
      >
        {% csrf_token %}
        <button class="ui icon button">
          <i type="submit" class="trash icon"></i>
        </button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}
<p>No controllers found.</p>
{% endif %}

<h2>Create New</h2>
<a href="{% url 'iot:create-site' %}">
  <button class="ui labeled icon button">
    <i class="map pin icon"></i>
    Site
  </button>
</a>
{% if controllers %}
<a href="{% url 'iot:create-controller' %}">
  <button class="ui labeled icon button">
    <i class="microchip icon"></i>
    Controller
  </button>
</a>
{% else %}
<a href="{% url 'iot:create-controller' %}">
  <button class="ui labeled icon button primary">
    <i class="microchip icon"></i>
    Controller
  </button>
</a>
{% endif %}

<h2>Go To</h2>
<a href="{% url 'iot:site-list' %}">
  <button class="ui labeled icon button">
    <i class="map pin icon"></i>
    Sites
  </button>
</a>

{% if controllers %}
<a href="https://github.com/protohaus/sdg-server/tree/main/core#changes-to-sdg-controller">
  <button class="ui labeled icon positive button">
    <i class="bolt icon"></i>
    Flash controller
  </button>
</a>
<a href="https://github.com/protohaus/sdg-server/tree/main/node-red-demo">
  <button class="ui labeled icon primary button">
    <i class="plug icon"></i>
    Add peripherals
  </button>
</a>
{% endif %} {% endblock %}
