{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui grid container">
        <div class="eight wide computer sixteen wide mobile centered column">
            <h2 class="ui dividing header">Authorize Application</h2>
            
            {% set flashes = {} %}
            
            {{ f.begin_form(form, flashes) }}
                {{ f.render_form_field(form.confirm) }}
                {{ f.render_form_field(form.cancel) }}
            {{ f.end_form(form) }}
        </div>
    </div>
{% endblock %}
